html, body, #root, .App, #root>div {
  height: 100%;
}

ol, ul {
  padding-left: 30px;
}

.container{
  padding: 0;
}
.status {
  margin-bottom: 10px;
}

.square {
  flex: auto;
  width: 100%;
  overflow: hidden;
  background: #fff;
  border: 1px solid #999;
  padding: 0;

  position: relative;
}

.square:focus {
  outline: none;
}

.square > .image{
  float: none;
  width: auto;
  height: 100%;
  object-fit: fill;
  overflow: hidden;
}

.square > label{
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-weight: bold;
  background-color: black;
  width: 100%;
  color: white;
  font-size: 0.8em;
}

.kbd-navigation .square:focus {
  background: #ddd;
}


.game-board{
  display: flex;
  flex-direction: row;
  height: 80%;
  overflow: hidden;
}
.game-board > .row {
  display: flex; 
  flex-direction: column;
  height:100%;
}
.game-board > .row:after {
  clear: both;
  content: "";
  display: table;
}
.game-info {
  margin-left: 20px;
}
