html, body, #root, .App, #root>div {
  height: 100%;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.container{
  padding: 0;
}
.status {
  margin-bottom: 10px;
}

.square {
  width: 100%;
  height: fit-content;
  display: table;
  background: #fff;
  border: 1px solid #999;
  padding: 0;
}

.square:focus {
  outline: none;
}

.square > .imageContainer > img{
  width: 100%;
  height: auto;
  object-fit: fill;
}
.square > .imageContainer{
  float: none;
  display: table-cell;
  top: 0px;
  width: 90%;
}
.square > label{
  float: none;
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
  font-weight: bold;

}

.kbd-navigation .square:focus {
  background: #ddd;
}


.game-board{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
  height: 100%;
  overflow: auto;
}

.game-info {
  margin-left: 20px;
}
