html, body, #root, .App, #root>div {
  height: 100%;
  background-color: darkgray;

}

ol, ul {
  padding-left: 30px;
}

.container{
  padding: 0;
}


.game-board{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  width: 90%;
  height: 90%;
  overflow: auto;
  overflow-y: hidden;
  align-content:center;
}
.game-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  color: black;
  font-weight: bold;
  align-content: center;
}
.status {
  flex: auto;
  margin-bottom: 10px;
}
.restartButton{
  flex: auto;
  width: auto;
}

.square {
  flex: auto;
  width: auto;
  overflow: hidden;
  background: #fff;
  border: 1px solid darkgray;
  padding: 0;
  position: relative;

}

.square:focus {
  outline: none;
}

.square > .image{
  float: none;
  width: auto;
  height: 100%;
  object-fit: fill;
  overflow: hidden;
}

.square > label{
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-weight: bold;
  background-color: black;
  width: 100%;
  color: white;
  font-size: 0.8em;
}
.square:hover{
  border: 2px solid lightgray;

}
.kbd-navigation .square:focus {
  background: #ddd;
}
