@font-face {
  font-family: "Academy Engraved";
  src: url(../assets/fonts/academy_engraved.ttf) format("truetype");
}
.btn{
    display: block;
    cursor: pointer;
    overflow: hidden;

    padding: 0.5vh 0.5vh 0.5vh 1vh;
    text-align: center;
  
    font-family: "Academy Engraved", serif;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
  
    color: white;
    background: linear-gradient($second500, $second400);

    border: 1px solid $second500;
    border-radius: 7px;
    filter: drop-shadow(2px 2px 1px $second900);
  }
  
  .btn-outline{
    //color: $prim7;
    //border: 1px solid $prim9;
   // background-color: $prim10;
    //filter: drop-shadow(0 0 2px $prim5);
  }
  
  .btn-block{
    width: 80%;
  }
  
  .btn:disabled{
    cursor: not-allowed !important;
    text-decoration: none !important; 
  }
  .btn:hover{
    color: $analTwo50;
    //flex-basis: 200%;
  }