$golden: B79347;
$niceBrown: 81571E;
$darkBrown: 5b3625;
$silver: DEDEDE;
$tan: CBB989;
$dullBrown: A7967D;

$prim1: #4c2500;
$prim2: #5b3308;
$prim3: #67410f;
$prim4: #764e18;
$prim4-alpha: #764e1850;
$prim5: #81581e;
$prim6: #996f3b;
$prim7: #b08858;
$prim7-alpha: #b0885850;
$prim8: #d0a87d;
$prim9: #edc9a0;
$prim10: #ffe9c0;
$prim11: #fffff3;

$comp1: #1e4781;
$comp2: #2b64a1;
$comp3: #3274b2;
$comp4: #3c85c4;
$comp5: #4493d1;
$comp6: #59a1d7;
$comp7: #72b1dd;
$comp8: #96c7e7;
$comp9: #bddcf0;
$comp10: #e4f1f9;

$analred1: #81261e;
$analred2: #922c26;
$analred3: #9f312b;
$analred4: #b03931;
$analred5: #bd4033;
$analred6: #be4e49;
$analred7: #bb6b69;
$analred8: #d09291;
$analred9: #ebc7cb;
$analred10: #f7e9eb;

$analgreen1:  #79811e;
$analgreen2: #90a830;
$analgreen3: #9ec039;
$analgreen4: #add643;
$analgreen5: #b8e94c;
$analgreen6: #c1ed65;
$analgreen7: #ccf181;
$analgreen8: #daf6a5;
$analgreen9: #e8f9c8;
$analgreen10: #f6fde9;

$triadgreen1: #23600c;
$triadgreen2: #47811e;
$triadgreen3: #5b9527;
$triadgreen4: #6ea831;
$triadgreen5: #7db838;
$triadgreen6: #90c257;
$triadgreen7: #a4cc75;
$triadgreen8: #bedb9c;
$triadgreen9: #d8e9c3;
$triadgreen10: #eff6e7;


$triadteal1: #1a6142;
$triadteal2: #1e8158;
$triadteal3: #219264;
$triadteal4: #28a572;
$triadteal5: #2eb47d;
$triadteal6: #53c090;
$triadteal7:#74cba4;
$triadteal8:#9dd9bd;
$triadteal9:#c3e8d6;
$triadteal10: #e6f6ef;


/
$prim900: 233038;
$prim800: 030303;
$prim700: 67410f;
$prim600: 764e18;
$prim500: 81581e;
$prim400: 996f3b;
$prim300: b08858;
$prim200: d0a87d;
$prim100: edc9a0;
$prim50: ffe9c0;
$prim11: fffff3;

$comp1: 1e4781;
$comp2: 2b64a1;
$comp3: 3274b2;
$comp4: 3c85c4;
$comp5: 4493d1;
$comp6: 59a1d7;
$comp7: 72b1dd;
$comp8: 96c7e7;
$comp9: bddcf0;
$comp10: e4f1f9;

$analred1: 81261e;
$analred2: 922c26;
$analred3: 9f312b;
$analred4: b03931;
$analred5: bd4033;
$analred6: be4e49;
$analred7: bb6b69;
$analred8: d09291;
$analred9: ebc7cb;
$analred10: f7e9eb;

$analgreen1:  79811e;
$analgreen2: 90a830;
$analgreen3: 9ec039;
$analgreen4: add643;
$analgreen5: b8e94c;
$analgreen6: c1ed65;
$analgreen7: ccf181;
$analgreen8: daf6a5;
$analgreen9: e8f9c8;
$analgreen10: f6fde9;

$triadgreen1: 23600c;
$triadgreen2: 47811e;
$triadgreen3: 5b9527;
$triadgreen4: 6ea831;
$triadgreen5: 7db838;
$triadgreen6: 90c257;
$triadgreen7: a4cc75;
$triadgreen8: bedb9c;
$triadgreen9: d8e9c3;
$triadgreen10: eff6e7;


$triadteal1: 1a6142;
$triadteal2: 1e8158;
$triadteal3: 219264;
$triadteal4: 28a572;
$triadteal5: 2eb47d;
$triadteal6: 53c090;
$triadteal7:74cba4;
$triadteal8:9dd9bd;
$triadteal9:c3e8d6;
$triadteal10: e6f6ef;
*/