@import "colors";

.gameInfo {
  will-change: transform;
  height: 13%;
  width: 100%;

  display: flex;
  position: relative;
  margin: auto;

  background: $prim300; //add alpha ?
  background:  repeating-radial-gradient($prim400, $prim700 50px);
 // background:  linear-gradient(180deg, $prim600, $comp600);
 background: url("../assets/images/wood.jpg");
 background-size: cover;

  *>{
    overflow: hidden;
    opacity: 1;
  }
  .gameStats, #game-timer, .userStats,.timer,.gameControl{
    width: 100%;
    height: calc(100%-20px);
    margin-top: 10px;
    margin-bottom: 10px;

    overflow: hidden;

    background: url("../assets/images/infocard_background.jpg");
    border-radius: 5px;

    background-repeat: repeat;
    background-size: cover;

    flex: 1 1;
    display: flex;
    justify-content: space-evenly;
    grid-row-start: 2;

    font-size: 0.8rem;
    font-weight: 800;
    color: $prim500;
  }
  .gameStats, #game-timer, .userStats {
    border: 1px solid $prim900;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 2px $prim400);
  }
  .gameStats {
    border: 0;
    max-width: 150px;

    flex-direction: column;  
    justify-self: flex-start;
    justify-content: space-around;
    background: transparent;

    margin-left: 10px;
    .stat{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 40%;

      background: url("../assets/images/infocard_background.jpg");

      font-size: 1.6vh;
      line-height: 2vh;
      
      padding-top: .3em;
      padding-bottom: .3em;

      border: 1px solid $prim500;
      border-radius: 4px;

      label{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 0;
        height: 100%;

        text-align:justify;

        font-size: 1.8vh;
        opacity: 0.7;
        left: 0;
        width: 50%;
      }
      .info{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        padding-left: 0.7em;
        font-size: 2.5vh;
      }
    }
  }

  .timer{
    background: transparent;
    overflow: visible;
    color: $comp50;
    max-width: 100px;

    .clock{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      //margin: auto;
      p{
        position: absolute;
        z-index: 200;
        margin: auto;
        font-size: 1em;
        span{
          font-size: 0.7em;
        }
      }
      svg{
        position: absolute;
        overflow: visible;

        circle{
          stroke-width: 5px;
        }
        .timer-front{
          stroke: $comp900;
        }
        .timer-back{
          stroke: $prim300;
        }
      }
    }
  }
  .userStats {
    margin-left: 1vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;

    overflow-y: scroll;

    font-weight: 600;    
    width: 75%;

    border-style: solid;
    border-image: linear-gradient(45deg, $prim700, $prim500, $prim300, $prim500, $prim300) 1;
    border-width: 2px;

    .stat{
      padding-left: 3%;
      width: 100%;
      flex-grow: 1 0; /* default 0 */
      flex-shrink: 3; /* default 1 */
      display: flex;
      max-height: 50%;
      padding-bottom: 3px;
      border-radius: 3px;

      .userColor{
        align-self: center;
        width: 7%;
        height: 80%;
        margin-right: 8px;
        border: 2px groove $prim400;
        border-bottom: 2px ridge $prim400;
        border-radius: 3px;
        filter: drop-shadow(3px 3px 2px $prim400);
      }
      .userText{
        align-self: center;
        width: 80%;
        padding-left: 1%;
      }
    }
  }
  .gameControl{
    width: 100%;

    max-width: 150px;
    flex-direction: row;
    justify-content: center;

    align-items: flex-start;

    background: transparent;

    .gameButton{
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;

      padding: 1%;
      margin: 1%;

        .btn {
          width: 10vw;
          max-width: 50px;
          min-width: 10px;
          height: 10vw;
          max-height: 50px;
          border-radius: 5px;
          background: url("../assets/images/infocard_background.jpg");
          color: $prim400;
          filter: drop-shadow(0 0 4px $prim400);
          overflow: visible;
          label {
            font-size: 8px;
            font-weight: bold;
            overflow: hidden;
            color: $prim800;
            padding-top: 3px;
            padding-bottom: 5%;
        }
          }
          .btn:hover{
            transform: scale(1.1);
          }

 
    }
  }

}




#round-message{
  padding: 0;
}