//Import colors
@import 'colors';

@font-face {
  font-family: "Academy Engraved";
  src: url(../assets/fonts/academy_engraved.ttf) format("truetype");
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  padding-left: 5%;
  padding-right: 5%;
  height: 8%;
  width: 100%;
  overflow: hidden;

  //background:  linear-gradient($prim400, $prim500);
  background: url("../assets/images/navbar_background.jpg");
  background-repeat: repeat;
  border-bottom: 1px solid $prim900;
  
  h1{
    font-weight: bolder;
    font-size: 4.2vh;
    margin: 0px;
    letter-spacing: 0.2em;
    color: $comp50;
    font-family: "Academy Engraved", serif;
    text-shadow: 2px 2px $prim600;
    padding: 3px 5px 3px 5px;
    // background:  repeating-radial-gradient($prim400, $prim500 50px);
    border-radius: 10px;
  }

  .navItems{
    .item{
        .logoutBtn{
            font-size: 2vh;
            color: $comp100;
            opacity: 0.5;
            text-align: end;
        }
        .logoutBtn:hover{
          opacity: 0.8;
      }
    }

  }

}
