//Import colors
@import 'colors';

@font-face {
  font-family: "Academy Engraved";
  src: url(../assets/fonts/academy_engraved.ttf) format("truetype");
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  padding-left: 10px;
  padding-right: 5%;
  height: 8%;
  width: 100%;
  overflow: hidden;

  //background:  linear-gradient($prim400, $prim500);
  background: url("../assets/images/navbar_background.jpg");
  background-repeat: repeat;

  border-bottom: 5px solid $second900;
  border-image: linear-gradient(90deg, $second900, $second700, $second900) 1;
  canvas{
    height: 100% !important;
    width: 90% !important;
    //max-width: 800px !important;
    overflow: visible !important;
  }

  /*h1{
    font-weight: bolder;
    font-size: 4.2vh;
    margin: 0px;
    letter-spacing: 0.2em;
    color: $comp50;
    font-family: "Academy Engraved", serif;
    text-shadow: 2px 2px $prim600;
    padding: 3px 5px 3px 5px;
    // background:  repeating-radial-gradient($prim400, $prim500 50px);
    border-radius: 10px;
  }*/

  .navItems{
    position: absolute;
    right: 2em;
    .item{
        .logoutBtn{
            font-size: 2vh;
            color: $comp100;
            opacity: 0.5;
            text-align: end;
        }
        .logoutBtn:hover{
          opacity: 0.8;
      }
    }

  }

}
