@import "colors";

.pregameContainer{
  width: 100%;
  //padding-top: 2vh;
  margin: auto;
  height: 100%;
  
  //background: url("../assets/images/main_background.jpg");
  //background-repeat: round;
  >*{
    margin-top: 5vh;
  }
  .inputForm{
    padding: 5vh 1vh 1vw 1vw;
    //background-color: $prim10;
    margin: auto;
    width: 75%;

    .buttonHolder{
      margin-top: 8vh;
      margin-bottom: 2.5vh;
      padding: 0;
      display: flex;
      justify-content: space-around;
      .btn{
        width: 40%
      }
    }

    .row{
      margin-bottom: 4vh;
      }
    }
  .gameList{
    //background-color: $comp10;
    height: 80%;
    width: 100%;
    margin: auto;
  }

  h2{
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 0.4vh;
    padding-left: 1.2vw;
    padding-right: 1vw;
    margin: auto;
    color: $prim50;

    background:  linear-gradient(90deg, #d0a87d50, $prim300, #d0a87d50);
    width: 100%;
    border-bottom: 2px solid $prim300;
    border-image: linear-gradient(90deg, #d0a87d20, #d0a87d, #d0a87d20);
    filter: drop-shadow(2px 2px 4px $prim600);
  }

  .buttonHolder{
    margin-top: auto;
    margin-bottom: 2.5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    justify-content: space-around;
  }
}
.niceBorder{
  position: absolute;
  padding: 0 !important;
  overflow: hidden;
  //background:  linear-gradient(180deg, $prim5, $prim7, $prim5, $prim2);
  background:  linear-gradient($prim600, $prim900);
  border-width: 1px 0 1px 0px;
  border-radius: 0;
  height: 5px;
  width: 100%;
  margin: 0;
  z-index: 100;
}