html,
body {
  margin: 0;
  width: 100%;
  background: url("../assets/images/main_background.jpg");
  background-repeat: round;
  overflow: hidden;
}

/*main background*/
#root {
  height: 100vh;
}

/*TODO ------------------ Place in separate files*/
/* Loader */
.loader {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.errorHolder {
  position: fixed;
  z-index: 2;
  will-change: display, opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightcoral;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.errorHolder b {
  size: 4em;
  color: darkred;
}

.errorHolder span {
  padding-left: 0.5em;
}

/*---------------------------------------*/
.page-container {
  width: 100%;
  height: 90%;
  position: fixed;
  z-index: 1;
}

.page-container .animatedDiv {
  width: 100%;
  height: 90%;
  position: fixed;
  will-change: transform, opacity;
}

/*Imports*/
@font-face {
  font-family: "Academy Engraved";
  src: url(../assets/fonts/academy_engraved.ttf) format("truetype");
}

nav {
  font-family: "Academy Engraved", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
  height: 10%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: url("../assets/images/navbar_background.jpg");
  background-repeat: repeat;
  border-bottom: 5px solid #D4AF37;
}

nav h1 {
  font-size: 3rem;
  margin: 0px;
  letter-spacing: .5rem;
  color: #D4AF37;
}

nav .navItems .item .logoutBtn {
  font-size: 1.5rem;
  color: #D4AF37;
}

/* Login Styles */
.loginContainer {
  width: 80%;
  height: 90%;
  margin: auto;
  padding-bottom: 10px;
  max-width: 600px;
  margin-top: 20px;
}

.btnHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
}

/* game List */
.gameList {
  height: 90%;
  max-height: 90%;
  overflow: auto;
  width: 100%;
}

.game-board {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 87%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
}

.game-board .squareHolder {
  height: 100%;
  width: 100%;
}

.game-board .squareHolder .square {
  margin: auto;
  background-color: transparent;
  height: 95%;
  width: 98%;
  border: none;
  background: center no-repeat transparent;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-filter: drop-shadow(5px 5px 4px #00000070);
          filter: drop-shadow(5px 5px 4px #00000070);
  will-change: transform, opacity;
}

.game-board .squareHolder .square label {
  margin-left: 5%;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: bold;
  background-color: black;
  width: auto;
  color: white;
  font-size: 0.8em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.borderBottom {
  background-color: #5b3625;
  border-bottom: 4px ridge #5b3625;
  position: fixed;
  height: 1px;
  width: 100%;
  bottom: 0px;
  z-index: 2;
}

.gameInfo {
  height: 13%;
  width: 100%;
  padding-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: url("../assets/images/info_area_background.jpg");
  background-repeat: repeat;
  border-top: 4px groove #85593C;
  border-bottom: 4px groove #5b3625;
}

.gameInfo .gameStats {
  border: 4px groove #85593C;
  border-bottom: 4px ridge #85593C;
  -webkit-filter: drop-shadow(5px 5px 4px #85593C);
          filter: drop-shadow(5px 5px 4px #85593C);
  background-repeat: repeat;
  background: url("../assets/images/infocard_background.jpg");
  font-weight: 600;
  width: 40%;
  padding: 2px;
  padding-left: 5px;
  margin-left: 10px;
  color: #5b3625;
  height: 99%;
  border-radius: 20px 20px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}

.gameInfo .gameStats .stat {
  padding-left: 3%;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* default 0 */
  -ms-flex-negative: 3;
      flex-shrink: 3;
  /* default 1 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 50%;
  padding-bottom: 3px;
  border-radius: 3px;
}

.gameInfo .userStats {
  overflow-y: auto;
  width: calc(40% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 4px groove #85593C;
  border-bottom: 4px ridge #85593C;
  -webkit-filter: drop-shadow(5px 5px 4px #85593C);
          filter: drop-shadow(5px 5px 4px #85593C);
  background-repeat: repeat;
  background: url("../assets/images/infocard_background.jpg");
  font-weight: 600;
  width: 40%;
  padding: 2px;
  padding-left: 5px;
  margin-left: 10px;
  color: #5b3625;
  height: 99%;
  border-radius: 20px 20px 10px 10px;
}

.gameInfo .userStats .stat {
  padding-left: 3%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* default 0 */
  -ms-flex-negative: 3;
      flex-shrink: 3;
  /* default 1 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 50%;
  padding-bottom: 3px;
  border-radius: 3px;
}

.gameInfo .userStats .stat .userColor {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 7%;
  height: 80%;
  margin-right: 8px;
  border: 2px groove #85593C;
  border-bottom: 2px ridge #85593C;
  border-radius: 3px;
  -webkit-filter: drop-shadow(3px 3px 2px #85593C);
          filter: drop-shadow(3px 3px 2px #85593C);
}

.gameInfo .userStats .stat .userText {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  padding-left: 1%;
}

.gameInfo .gameControl {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 100%;
  height: 90%;
  padding-left: 2%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameInfo .gameControl .gameButton {
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
}

.gameInfo .gameControl .gameButton .btn {
  height: 99%;
  border-radius: 5px;
  background: url("../assets/images/infocard_background.jpg");
  color: #85593C;
  border: 4px groove #85593C;
  border-bottom: 4px ridge #85593C;
  -webkit-filter: drop-shadow(5px 5px 4px #85593C);
          filter: drop-shadow(5px 5px 4px #85593C);
  -webkit-filter: drop-shadow(0 0 4px #85593C);
          filter: drop-shadow(0 0 4px #85593C);
}

.gameInfo .gameControl .gameButton .btn label {
  font-size: 0.7em;
  font-weight: bold;
}

/*Media Queries*/
/*# sourceMappingURL=index.css.map */
