.game-board {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 87%;
    width: 100%;
    display: grid;
    overflow: hidden;


    .squareHolder {
      height: 100%;
      width: 100%;
    
      .square{
        margin: auto;
        background-color: transparent;
        height: 95%;
        width: 98%;
        border: none;
        background: center no-repeat transparent;
        background-size: contain;
        display: flex;
        justify-content: flex-start;
        filter: drop-shadow(5px 5px 4px #00000070);
        //position: fixed;
        will-change: transform, opacity;

        label{
          margin-left: 5%;
          padding-left: 2%;
          padding-right: 2%;
          font-weight: bold;
          background-color: black;
          width: auto;
          color: white;
          font-size: 0.8em;
          align-self: flex-end;
        }
      }
    }
  }
