@import "colors";

@mixin coolBorder{
    border: 4px groove $niceBrown;
}

@mixin infoCard($margin) {
  background-repeat: repeat;
  background: url("../assets/images/infocard_background.jpg");
  font-weight: 600;
  @include coolBorder();
  padding: 5px;
  width: 40%;
  border-radius: 10px;
}

.gameInfo {
  height: 13%;
  padding: 20px;
  background: url("../assets/images/info_area_background.jpg");
  background-repeat: repeat;
  display: flex;
  justify-content: space-around;
  @include coolBorder();

  .userStats {
    @include infoCard(0 5%);
  }

  .currentGame {
    @include infoCard(0 5%);
  }
}
