@import "colors";

@mixin coolBorder{
    border: 4px groove $niceBrown;
    border-bottom: 4px ridge $niceBrown;
    filter: drop-shadow(5px 5px 4px $niceBrown);
}
.borderBottom {
  background-color: $darkBrown;
  border-bottom: 4px ridge $darkBrown;
  position: fixed;
  height: 1px;
  width: 100%;
  bottom: 0px;
  z-index: 2;
}
.gameInfo {
  height: 13%;
  width: 100%;
  padding-top: 2px;
  display: flex;
  position: fixed;
  flex-direction: row;
  background: url("../assets/images/info_area_background.jpg");
  background-repeat: repeat;
  border-top: 4px groove $niceBrown;
  border-bottom: 4px groove $darkBrown;


  .gameStats {
    @include coolBorder();
    background-repeat: repeat;
    background: url("../assets/images/infocard_background.jpg");
    font-weight: 600;
    width: 40%;
    padding: 2px;
    padding-left: 5px;
    margin-left: 10px;
    color: $darkBrown;
    height: 99%;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-flow: wrap row;

    .stat{
      padding-left: 3%;
      width: 50%;
      flex-grow: 1; /* default 0 */
      flex-shrink: 3; /* default 1 */
      display: flex;
      max-height: 50%;
      padding-bottom: 3px;
      border-radius: 3px;
    }
  }

  .userStats {
    overflow-y: auto;
    width: calc(40% - 10px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    @include coolBorder();
    background-repeat: repeat;
    background: url("../assets/images/infocard_background.jpg");
    font-weight: 600;
    width: 40%;
    padding: 2px;
    padding-left: 5px;
    margin-left: 10px;
    color: $darkBrown;
    height: 99%;
    border-radius: 20px 20px 10px 10px;
    
    .stat{
      padding-left: 3%;
      width: 100%;
      flex-grow: 1; /* default 0 */
      flex-shrink: 3; /* default 1 */
      display: flex;
      max-height: 50%;
      padding-bottom: 3px;
      border-radius: 3px;

      .userColor{
        align-self: center;
        width: 7%;
        height: 80%;
        margin-right: 8px;
        border: 2px groove $niceBrown;
        border-bottom: 2px ridge $niceBrown;
        border-radius: 3px;
        filter: drop-shadow(3px 3px 2px $niceBrown);
      }
      .userText{
        align-self: center;
        width: 80%;
        padding-left: 1%;
      }
    }
  }
  .gameControl{
    width: 20%;
    display: flex;
    flex-direction: row;
    max-height: 100%;
    height: 90%;
    padding-left: 2%;
    justify-content: space-around;
    align-items: center;

    .gameButton{
      font-weight: bold;
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 1%;
        .btn {
          height: 99%;
          border-radius: 5px;
          background: url("../assets/images/infocard_background.jpg");
          color: $niceBrown;
          @include coolBorder();
          filter: drop-shadow(0 0 4px $niceBrown);
          label {
            font-size: 0.7em;
            font-weight: bold;
          }
        }
 
    }
  }
}
