$backgroundColor:  #E3F2FD;
$primaryColor: #6400e3;
$secondaryColor: #7986CB;
$textColor1: #E3F2FD;

html, body, #root, .App { /* 5F6AF9 */
  height: 100%;
  background-color: $backgroundColor;
  text-emphasis-color: $primaryColor;
}

header{
  height: 5%;
  align-items: center;
}
header > h1 {
  margin: 0;
}
.container{
  padding: 0;
  padding-top: 10px;
  width: 95%;
  max-width: 95%;
  min-width: 95%;
  height: 90%;
  overflow: hidden;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/* Game Styles */
@media screen and (min-width: 0px) {
  .square {
      flex: 0 3 50px;
  }
}
  @media screen and (min-width: 900px) {
  .square {
      flex: 0 3 100px;
  }
}
  @media screen and (min-width: 1600px) {
  .square {
      flex: 0 3 120px;  
  }
}
.game-board{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height:87%;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
}

.square {
background-color: $backgroundColor;
width: fit-content;
height: fit-content;
overflow: hidden;
padding: 0;
position: relative;
border: 1px solid darkgray;
}

.square:focus {
outline: none;
}

.square > .image{
max-width: 100%;
max-height: 100%;
}

.square > label{
position: absolute;
bottom: 2px;
left: 2px;
font-weight: bold;
background-color: black;
width: 100%;
color: $textColor1;
font-size: 0.8em;
}
.square:hover{
border: 2px solid lightgray;
}
.gameInfo {
margin: 0;
height: 13%;
width: 100%;
padding-top: 2%;
font-weight: bold;
text-align: start;
}

.gameStats{
  display: flex;
  flex-direction: column;
  margin-left: 10px
}
.stat{
  width: 100%;
  height: 100%;
}
.gameButton{
border-radius: 10px;
padding: 5px;
background-color: $secondaryColor;
box-shadow: $primaryColor;
color: $textColor1;
border-radius: 30px;
}
/* Login Styles */
.loginContainer {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
  max-width: 600px;
  margin-top: 20px;
}
.btnHolder {
    display: flex;
    justify-content: center;
    width: auto;
}
/*nav styles */
nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 10%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $secondaryColor;
  border-bottom: 5px solid $primaryColor;
}
nav > h1 {
  font-size: x-large;
  margin: 0px;
  letter-spacing: 0.7em;
  color: $textColor1;

}
nav > .navItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-self: flex-end;
  justify-content: space-between;
  width: fit-content;
}

nav > .navItems > .item {
  padding: 10px;
}
nav > .navItems > .item > a{
  color: $secondaryColor;
}

/* Loader */
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

