html,
body {
  margin: 0;
  width: 100%;
  background: url("../assets/images/main_background.jpg");
  background-repeat: round;
  overflow: hidden;
}

/*main background*/
#root {
  height: 100vh;
}
/*TODO ------------------ Place in separate files*/
.alertBox{
  position: fixed;
  width: 100%;
  height: 10%;
  align-self: center;
  background-color: lightcoral;
  
  b{
    size: 4em;
    color: darkred;
  }
}
/* Loader */
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------*/
.page-container {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 90%;
  display: flex;
  will-change: transform, opacity;
  
  div {
    width: 100%;
    height: 100%;
  }
}
/*Imports*/
@import "nav";
@import "login";
@import "gameList";
@import "cards";
@import "gameInfo";

/*Media Queries*/
@mixin responsive($maxWidth, $logoSize, $columns, $rows, $imageWidth, $imageHeight, $labelFontSize, $labelHeight, $columnSize, $rowSize) {
  @media screen and (max-width: $maxWidth) {
    nav {
      h1 {
        font-size: $logoSize;
      }
      
    }    
  }
}